TENANT_ID=your_tenant_id
CLIENT_ID=your_client_id
CLIENT_SECRET=your_client_secret
USER_EMAIL=your_dev_account_email@something.onmicrosoft.com
DRIVE_ID=your_drive_id  # Optional, will default to user's root if not provided
